<div class="row">
    <div class="col-12 mb-3 text-right">
        <button
        routerLink="addProduct" mat-raised-button color="accent">Add Product</button>
    </div>
    <div class="col-md-4">
        <ul class="list-group" *ngIf="productsArr.length > 0; else NoProduct">
            <li
            [queryParams]="{cr: p.canReturn}"
            [routerLink]="[p.prodID]",
            routerLinkActive="active"
             *ngFor="let p of productsArr; trackBy: trackByProdId" class="list-group-item d-flex justify-content-between">
                {{p.prodName}} 
                <p class="badge p-2 m-0"
                [ngClass]="{
                    'badge-success': p.prodStatus === 'Delivered',
                    'badge-primary': p.prodStatus === 'Dispatched',
                    'badge-warning': p.prodStatus === 'Inprogress'
                }">
                    {{p.prodStatus}}
                </p>
            </li>
        </ul>
        <ng-template #NoProduct>
            <p class="alert alert-danger">No product is added yet!!!</p>
        </ng-template>
    </div>
    <div class="col-md-8 mt-4 mt-md-0">
        <router-outlet></router-outlet>
    </div>
</div>